node_modules
backend/node_modules
.env
.env.local
.env.production
build
dist
*.log
npm-debug.log*
.DS_Store
.vscode
.idea
.pm2
.vercel

# 🟢 終極防外洩：強制 Git 忽略 Firebase 私密金鑰
serviceAccountKey.json
backend/config/serviceAccountKey.json